NEXT_PUBLIC_SUPABASE_URL=https://lekxsylqihgbepaixxlj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxla3hzeWxxaWhnYmVwYWl4eGxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MzIzNDQsImV4cCI6MjA4ODEwODM0NH0.pqbZ6tcSTq1u4x_uzBoItR6s8c-ZplzyJXP6vfUZ8zM
